# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
assets/
node_modules/
Model training/Testing datasets
Model training/10min- 1.csv
Model training/10min- 2.csv
Model training/10min- 3.csv
Model training/13min.csv
Model training/18min- 1.csv
Model training/18min- 2.csv
Model training/AmbulanceDataCollector.zip
Model training/Testing datasets.zip
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

#virtual env
.venv/

Backend/instance/database.models
